<div>
  <dl>
    <dt>Item User</dt>
    <dd>{{model.sender}}</dd>
    <dt>Item Recipient</dt>
    <dd>{{model.recipient}}</dd>
    <dt>Date</dt>
    <dd>{{date model.date}}</dd>
  </dl>
  <h4>{{model.data}}</h4>
  <p>{{model.body}}</p>
</div>